/* fonte poppins utilizada no projeto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  /* poppins como variavel css */
  --font-poppins: "Poppins", sans-serif;

  /* paleta de cores */
  --color-primary-black: #1D1C1A;
  --color-primary-yellow: #f7ca11;
  --color-primary-white: #FAFAFA;
  --color-primary-blue: #3442b5;  
  --color-primary-purple: #3d28bc;  
  
  --color-neutral-text: #3f3f40;
  --color-neutral-border: #E0E0E0;
  --color-neutral-background: #F5F5F5;
}

@layer base {
  body {
    /* definindo como fonte global do projeto */
    font-family: var(--font-poppins);
  }
}